@import "./reset.css";

:root {
    --app-bg-dark: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-blue: #3c57ff;
    --app-purple: #833cff;
    --app-orange: #ff833c;
}

body {
    background-color: var(--app-bg-dark);
}

header {
    width: auto;
    height: 56px;
    display: flex;
    background-color: #3a71f2;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

main {
    min-width: 100%;
    height: 100vh;
    height:calc(var(--vh, 1vh) * 100)
}

.map{
    width: 100%;
    height: 100%;
    background-color: var(--app-bg-dark);
    position: absolute;
    z-index: 1;
}


.nav-logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding-right: 200px;
}

.nav-links li {
    display: inline;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px 0 20px;
}

.nav-avatar {
    padding-left: 200px;
    position: relative;
}

section {
    padding: 60px 320px;
    height:calc(100vh - 56px)
    }

.cookies {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.overlay .loading {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(255, 255, 255 / 0.8);
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: 1.3s linear infinite rotate;

}

@keyframes rotate {
    from {
        rotate: z 0deg;
    }to {
        rotate: z 360deg;
    }
}